body{
    background-color: rgb(250, 250, 250);
}
header {
    width: 100vw; /* Ocupa toda a largura da viewport */
    height: 130px;
    background-color: rgb(0, 171, 213);
    position: fixed; /* Fixado no topo */
    left: 0;
    top: 0;
    z-index: 1000; /* Garante que fique acima de outros elementos */
}
input {
    display: block; /* Makes sure it takes the full width */
    margin: 0 auto; /* Centers the input element horizontally */
    position: relative;
    top: 50px;
    width: 810px;
    height: 35px;
    border-radius: 3px;
    border: none;
    
}
.carrinhobt img{
    position: absolute;
    right: 90px;
    top: 60px;
}
.buscarbt button{
    position: absolute;
    right: 215px;
    top: 52px;
    padding: 3px;
    padding-inline: 15px;
    padding-block: 7px;
    background-color: rgb(0, 171, 213);
    border: none;
    border-radius: 3px;
}